
{% if request.user.is_authenticated %} 
    
 <nav class="logged_in-navbar"
 {% if request.path == '/members/profile/' %}
 style=" height: 5%;"
    {% endif %}
 >
    <ul class="nav nav-tabs" 
        {% if request.path == '/contact/' %}
          style=" margin-left: 70%;"

            {% elif request.path == '/about/' %}
              style=" margin-left: 78%;"

              {% elif request.path == '/search/' %}
                style=" margin-left: 75%; padding-top: .5%;"

                {% elif request.path == '/createjob/' %}
                  style=" margin-left: 70%;"
                  {% elif request.path == '/members/profile/' %}
                    style=" margin-left: 75%;"
        {% endif %}
        
        >

        

        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="padding-bottom: 5%;" >
                <i class="fa-solid fa-circle {% if request.user.is_active %}active-status{% endif %}"></i>  
                {% if not request.path == '/members/profile/' %}
                <img class="nav-profile_picture" src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" > 
                {% elif request.path == '/members/profile/'%}
                <img class="nav-profile_picture" src="{{ request.user.profile.profile_picture.url }}" alt="Profile Picture" style="width: 10%; height: 15%;"
                > 
                {% endif %}
                {{ request.user.username}}
              </a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'job_form' %}">Create job</a></li>
                      <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  </ul>

        </li>


          {% if not request.path == '/about/' %} <!--Only display search button if user isn't on the search page-->
            <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About</a></li>
          {% endif %}
            
              {% if not request.path == '/contact/' %} <!--Only display search button if user isn't on the search page-->
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
              {% endif %}
                  
                {% if not request.path == '/search/' %} <!--Only display search button if user isn't on the search page-->
                        <li class="nav-item"><a class="nav-link" href="{% url 'search_jobs' %}">Search</a></li>
                    {% endif %}
      </ul>




 </nav>



{% else %}





 <nav class="logged_out-navbar">
    <ul class="nav nav-tabs" 
    {% if request.path == '/contact/' %}
            style=" margin-left: 60%;"
    {% endif %}
        {% if request.path == '/about/' %}
          style=" margin-left: 73%;"
        {% endif %}

          {% if request.path == '/search/' %}
              style=" margin-left: 75%;"
          {% endif %}

            {% if request.path == '/createjob/' %}
                style=" margin-left: 70%;"
            {% endif %}
    
    >
        <li class="nav-item"><a class="nav-link" href="{% url 'home_page' %}">Home</a></li>
        {% if not request.path == '/about/' %} <!--Only display search button if user isn't on the search page-->
          <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About</a></li>
        {% endif %}
          
          {% if not request.path == '/contact/' %} <!--Only display search button if user isn't on the search page-->
                  <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                {% endif %}
                    
              {% if not request.path == '/search/' %} <!--Only display search button if user isn't on the search page-->
                      <li class="nav-item"><a class="nav-link" href="{% url 'search_jobs' %}">Search</a></li>
                    {% endif %}

                  {% if not request.path == '/members/login_user/' %} <!--Only display search button if user isn't on the search page-->
                    {% if not request.path == '/members/register_user/' %} <!--Only display search button if user isn't on the search page-->
                      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login/Signup</a></li>
                    {% endif %}
                  {% endif %}
                  

     </ul>
 </nav>





 
{% endif %}







