<!-- Navigation bar with links to News, Sign in and Join -->
<style>
    
</style>
 <!-- Navigation bar with links to News, Sign in and Join -->
 {% if user.is_authenticated %} <!--Check if user is logged in or logged out-->
 <nav class="logged_in-navbar">
     <ul >
         <li><a href="{% url 'about_us' %}">About</a></li>
         <li><a href="{% url 'contact' %}">Contact</a></li>

             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     {{user.username}}
                 </a>
                 <ul class="dropdown-menu">
                   <li><a class="dropdown-item"  href="{% url 'job_form' %}">Create job</a></li>
                   <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                 </ul>
             </li>
     </ul>
 </nav>
{% else %}
 <nav class="logged_out-navbar">
     <ul>
         <li><a href="{% url 'about_us' %}">About</a></li>
             <li><a href="{% url 'contact' %}">Contact</a></li>
                 <li><a href="{% url 'login' %}">Login/Signup</a></li>
     </ul>
 </nav>
{% endif %}


